@include breakpoint(mobile) {
    .home-body-section {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;
        height: auto;
        text-align: center;
        .home-body-article {
            display: flex;
            flex-direction: column;
            &-title {
                font-family: Roboto-Semibold;
                font-size: 20px;
                width: 230px;
                color: $base-color;
                margin-bottom: -10px;
            }
            &-txt {
                margin-top: 30px;
                font-family: Montserrat-Regular;
                font-size: 14px;
                width: 230px;
                color: $base-color;
            }
        }
    }
}
@include breakpoint(tablet) {
}
@include breakpoint(laptops) {
    .home-body-section {
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;
        margin-bottom: 100px;
        height: auto;
        .home-body-article {
            display: flex;
            flex-direction: column;
            // height: 50px;
            // margin-right: 200px;
            margin-right: 10%;
            &-title {
                font-family: Roboto-Semibold;
                font-size: 20px;
                width: 230px;
                color: $base-color;
                margin-bottom: -10px;
            }
            &-txt {
                margin-top: 30px;
                font-family: Montserrat-Regular;
                font-size: 14px;
                width: 250px;
                color: $base-color;
            }
        }
    }
}
