@include breakpoint(small-mobile) {
}
@include breakpoint(tablet) {
}
@include breakpoint(laptops) {
    .home-body-section {
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;
        margin-bottom: 100px;
        height: auto;
        .home-body-article {
            display: flex;
            flex-direction: column;
            height: 50px;
            margin-right: 50px;
            &-title {
                font-family: Roboto-Semibold;
                font-size: 16px;
                width: 220px;
                color: $base-color;
                margin-bottom: -10px;
            }
            &-txt {
                margin-top: 30px;
                font-family: Montserrat-Regular;
                font-size: 12px;
                width: 200px;
                color: $base-color;
            }
        }
    }
}
