@include breakpoint(mobile) {
    .footer-section {
        // background-color: black;
        position: relative;
        bottom: 0;
        margin-top: 100px;
        width: 95%;
        text-align: end;

        .footer-list {
            &-content {
                padding: 5px 0;
                list-style: none;
                &-txt {
                    font-family: Montserrat-Regular;
                    font-size: 12px;
                    color: $base-color;
                }
            }
        }
        .footer-txt-1 {
            font-family: Montserrat-Regular;
            padding-top: 10px;
            font-size: 10px;
            color: $base-color;
        }
    }
}
@include breakpoint(tablet) {
}
@include breakpoint(laptops) {
    .footer-section {
        // background-color: black;
        position: fixed;
        bottom: 0;
        margin-top: 500px;
        width: 95%;
        text-align: end;

        .footer-list {
            &-content {
                list-style: none;
                &-txt {
                    font-family: Montserrat-Regular;
                    font-size: 12px;
                    color: $base-color;
                }
            }
        }
        .footer-txt-1 {
            font-family: Montserrat-Regular;
            font-size: 10px;
            color: $base-color;
        }
    }
}
